.button-back {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 5rem;
  padding-bottom: 1.5rem;
}

.userlist-btn {
  background-color: transparent !important;
  color: #3dd9eb !important;
  border-color: #3dd9eb !important;
  transition: 0.5s all ease;
}

.userlist-btn:hover {
  background-color: #3dd9eb !important;
  color: #f55376 !important;
  border-color: #f55376 !important;
}

.search-field {
  width: 35% !important;
  height: 2.4rem !important;
  margin-left: 10px !important;
  border-radius: 5px !important;
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    --bs-modal-width: 1300px;
  }
}
