.home-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    gap: 16px; /* Espacio entre las tarjetas */
    padding: 16px;
    margin-top: 1.5rem;
}

/* Media queries para hacer el diseño responsivo */
@media (max-width: 1200px) {
    .home-container {
        grid-template-columns: repeat(4, 1fr); /* 4 columnas para pantallas grandes */
    }
}

@media (max-width: 992px) {
    .home-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas para pantallas medianas */
    }
}

@media (max-width: 768px) {
    .home-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para pantallas pequeñas */
    }
}

@media (max-width: 576px) {
    .home-container {
        grid-template-columns: 1fr; /* 1 columna para pantallas extra pequeñas */
    }
}

.pagination-controls {
    align-items: center;
    display: flex;
    justify-content: end;
    width: 100%;
}