.form-group {
  margin-bottom: 20px; /* O cualquier valor que prefieras */
}

form .row {
  margin-bottom: 0.7rem;
}

form button {
  margin-right: 1rem;
}

.custom-select-multiple {
  width: 100%; /* Asegura que el select ocupe todo el ancho del contenedor */
  text-align: left; /* Alinea el texto hacia la izquierda */
}

.show {
    align-items:normal;
}

.placeform-button {
  background-color: transparent !important;
  color: #3dd9eb !important;
  border-color: #3dd9eb !important;
  width: 15%;
  transition: 0.5s all ease;
}

.placeform-button:hover {
  background-color: #3dd9eb !important;
  color: #f55376 !important;
  border-color: #f55376 !important;
}
