.navbar {
  position: fixed !important; /* Fija el header en la parte superior */
  top: 0;
  z-index: 1000;
}

.navbar-position {
  width: 100%;
}

.title-color {
  color: #eb0000 !important;
}

.title-color:hover {
  color: #f55376 !important;
}

.navbar-text {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  font-size: 1rem; /* Ajusta el tamaño de la fuente si es necesario */
}

.header-button:hover {
  background-color: #3dd9eb !important;
  color: #f55376 !important;
  border-color: #f55376 !important;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .navbar-text {
    font-size: 0.9rem; /* Ajuste de fuente para pantallas más pequeñas */
  }

  .header-button {
    font-size: 0.9rem; /* Ajuste de tamaño del botón en pantallas pequeñas */
  }
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0;
  margin-right: .5rem;
  font-size: 1rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  background-color: #6c757d;
  color: #3dd9eb !important;
  border-color: #3dd9eb !important;
  transition: 0.5s all ease;
}

.responsive-button {
  font-size: clamp(
    1rem,
    1vw + 0.5rem,
    1.2rem
  ); /* Ajuste dinámico del tamaño de la fuente */
  padding: 0.5rem 1rem;
  white-space: nowrap; /* Evita que el texto se divida en líneas múltiples */
}

.dropdown-toggle::after {
  display: none; /* Oculta la flecha predeterminada del botón de dropdown */
}

/* Estilo para ajustar la flecha de cerrar sesión */
.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-toggle {
  margin: 0;
  padding: 0.5rem 1rem;

  display: inline-flex;
  align-items: center;
}

.dropdown-menu {
  margin-top: 0; /* Evita que se aplique margen extra */
  padding: 0.5rem 0;
}
