.navbar {
    position: fixed !important; /* Fija el header en la parte superior */
    top: 0;
    z-index: 1000;
}

.navbar-position {
    width: 100%;
}

.title-color {
    color: #EB0000 !important;
}

.title-color:hover {
    color: #F55376 !important;
}

.header-button {
    color: #3DD9EB !important;
    border-color: #3DD9EB !important;
    width: 90%;
    transition: .5s all ease;
}

.header-button:hover {
    background-color: #3DD9EB !important;
    color: #F55376 !important;
    border-color: #F55376 !important;
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10px;
}