.nav-container {
  min-height: 10rem;
}

.form-control {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.h3-title {
  color: #f55376 !important;
}

.search-color {
  background-color: #3dd9eb !important;
  border-color: #3dd9eb !important;
  color: #f55376 !important;
  transition: 0.5s all ease;
}

.search-color:hover {
  color: #3dd9eb !important;
  border-color: #f55376 !important;
  background-color: #f55376 !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.form-control {
  height: 3rem !important;
}

.input-group {
  display: flex;
}

@media (max-width: 576px) {
  .input-group-text {
    display: none;
  }

  .nav-container {
    min-height: 12rem;
  }

  .form-control {
    height: auto !important;
  }
}

@media(max-width: 767px){
  .d-grid {
    margin-bottom: 1.5rem !important;
  }
}

@media(max-width: 530px){
  .search-container {
    padding-top: 40px;
  }
}

@media(max-width: 463px){
  .search-container {
    padding-top: 70px;
  }
}