.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.form-control {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.h3-title {
  color: #f55376 !important;
}

.search-color {
  background-color: #3dd9eb !important;
  border-color: #3dd9eb !important;
  color: #f55376 !important;
  transition: 0.5s all ease;
}

.search-color:hover {
  color: #3dd9eb !important;
  border-color: #f55376 !important;
  background-color: #f55376 !important;
}

.form-container {
  width: 80%;
  padding: 1rem;
}

.react-datepicker-wrapper {
  width: 100% !important;
  height: 3rem;
}

.form-control {
  height: 3rem !important;
}

.custom-datepicker .react-datepicker__input-container input {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}